* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}
//this is not changing the color or the shape of the button
.deleteGoal{
  background-color: #26a69a;
  border-radius: 5%;
  background-origin: 1px solid black;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: white;
  padding: 10px;
}
.goalCard {
    width: 30%;
    display: inline-block;
    margin: 10px 10px;
}
.goalInfo {
  margin: 20px;


}

.formContainer { 
  padding: auto;
}
.goalSubmit {
  margin-top: 10px;
  margin-left: 35%;
  margin-bottom: 10px;

}
.goalForm {
  width: 40%;
  margin: auto;
}
.goalInputBar {
  margin: auto;
  padding: auto;
}
.addGoal {
  background-color: #074E68;
  border-radius: 5%;
  background-origin: 1px solid black;
  display: inline-block;
  margin-top: 10px;
  margin-left: auto;
}
.goalInput{
  width: 75%;

}
.logOut {
  background-color: #074E68;
    border-radius: 5%;
    background-origin: 1px solid black;
    display: block;
    margin-top: 10px;
    margin-left: auto;
}

.goalMileCard {
    width: 30%;
    display: block;
    margin: auto;

}

.signInButton {
	background-color: #074E68;
    border-radius: 5%;
    background-origin: 1px solid black;
    display: block;
    margin-top: 10px;
    margin-left: auto;
}

.submitButton{
	background-color: #074E68;
    border-radius: 5%;
    background-origin: 1px solid black;
    display: block;
    margin-top: 10px;
    margin: auto;
}

.registerButton{
	background-color: #074E68;
    border-radius: 5%;
    background-origin: 1px solid black;
    display: block;
    margin-top: 10px;
    margin-left: auto;
}

.registerButtons{
	background-color: #074E68;
    border-radius: 5%;
    background-origin: 1px solid black;
    display: block;
    margin-top: 10px;
    margin: auto;
}

.theMilestone {
  border: 1px solid blue;
}

h1 {
	font-size: 300px;
	text-align: center;
	color: fuchsia;
}
.header {
  text-align: center;
  background: #074E68;
  background-size: cover;
  position: relative;
  overflow: visible;
  padding-top: 2.5rem;
  padding-bottom: 4.9rem; }
  .header .headline {
    color: #ffe; }

.header-subnav {
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%; }
  .header-subnav li {
    float: none;
    display: inline-block; }
    .header-subnav li a {
      padding: 0.9rem 1rem;
      font-size: 0.75rem;
      color: #ffe;
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      letter-spacing: 1px;
      transition: all 0.35s ease-in-out; }
      .header-subnav li a.is-active {
        background: rgba(250, 250, 250, 0.15); }
      .header-subnav li a:hover {
        background: rgba(250, 250, 250, 0.15);
        transition: all 0.35s ease-in-out; }

.hidden {
	display: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}